html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0%;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

.wrapper {
  min-height:100%;
  position:relative;
}

.zoom {
  background: white;
  border: 2px solid black;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position:fixed;
  bottom:200px;
}

.navbar.navbar-default {
  background-color: #99ccff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jumbotron {margin-bottom: 0 !important;}

.main {
  min-height: 500px;
  overflow: hidden;
  width: 100%;
  padding-bottom:250px;   /* Height of the footer element */
}

.section {
  float: left;
  width: 100%;
  line-height: 1.7;
  font-family: Lato;
}

.section-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.homepage .hp-first {
  background: white;
  padding-bottom: 5%;
}

.homepage h2 {
  text-align:center;
  margin-bottom: 5%;
  font-weight: bold;
}

.homepage .ytp-button {margin-top:75px !important;}

.carousel-inner .item {
    width: 100%;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner .item img, .carousel-inner .item iframe {
  object-fit: cover;
  width: 100%;
  height: 700px;
  margin-left:auto;
  margin-right:auto;
  z-index: 10;
}

.carousel-inner .item a {
  color:white;
  text-decoration:underline;
}

.carousel-inner .item .carousel-statement {
  margin-top: -300px;
  margin-left: 10%;
  z-index: 998;
  color:white;
  width:60%;
  text-align:left;
  font-size: 40px;
  line-height: 1.6;
}

.homepage .hp-first .features{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.homepage .hp-first .features .feature-icon{
  text-align:center;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  color:white;
  margin-left:auto;
  margin-right:auto;
}
.homepage .hp-first .features .feature-icon .fa{
  font-size: 60px;
  line-height: 200px;
}
.homepage .hp-first .features h6 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}
.homepage .hp-first .features .feature-description {
  margin-top: 5%;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom:50px;
}
.post-features {
  text-align: center;
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top:75px;
}
.post-features .each {
  /*border: 5px dashed #fc6d6d;*/
  color: #fc6d6d;
  font-weight: bold;
  margin-bottom:50px;
}
.post-features hr {
  border: none;
  height: 5px;
  color: #fc6d6d;
  background-color: #fc6d6d;
  margin:auto;
}
.mission, #research {
  text-align: center;
  background-color: #e99090;
  color: white;
  font-size:50px;
}
.mission h4, #research h4 {
  margin-top:25px;
  line-height: 1.7;
  font-size:30px;
}
.homepage .progress {
  height: 300px;
  font-size: 40px;
  color: white;
  background-image: url('../images/hands4-itn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.homepage .progress h1 {
  text-align:center;
  font-size: 50px;
}
.homepage .progress .progress-steps{
  margin-top: 3%;
  text-align: center;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.homepage .progress .progress-steps .numbers{
  margin-bottom: -7%;
  font-size: 50px;
}
.homepage .rider-stories {
  background: #afcace;
  background:#e99090;
}
.homepage .rider-stories h1 {
  color:white;
  text-align:center;
  font-size:50px;
  margin-bottom:50px;
}
.homepage .rider-stories h5 {font-size:20px}
.homepage .rider-stories .rider-stories-text {
  background: #f8fafa;
  color: #666666;
  padding: 26px 39px;
  border: 5px solid #afcace !important;
  border-radius: 15px;
  margin: 2%;
}
.homepage .rider-stories .rider-stories-text h4 {
  line-height: 1.6;
  font-size:25px;
  margin-bottom: 20px;
}
.homepage .rider-stories .rider-stories-text p {
  text-align:center;
}
.itn-blogs h1 a {
  color:black !important;
  font-size:50px;
  text-align:center;
}
.blog-thumbnail {
  overflow: hidden;
}
.blog-thumbnail img {
  max-width: 100%;
  width:100%;
  height:250px;
  margin-bottom:20px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-thumbnail:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.contact .first-hero {
  background-image: url('../images/dark/spanish-woman.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.contact #first-hero-contact h1 {
  color:White;
  text-shadow: 2px 2px #e99090;
  margin-top:170px;
  margin-left: 5%;
}
.contact .form-area {
    background-color: #FAFAFA;
  	padding: 10px 40px 60px;
  	margin: 10px 0px 60px;
  	border: 1px solid GREY;
    border: 2px solid #8f8fb66b;
    border-radius: 5px;
}

 .faq #first-hero-faq {
   background-image: url('../images/dark/woman-cheek.jpg');
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 400px;
 }
 .faq #first-hero-faq h1{
   color:white;
   text-shadow: 2px 2px #e99090;
   margin-top:170px !important;
   margin-left: 5% !important;
 }
 .faq .container {
   float:left;
   padding-top:25px;
   padding-bottom:25px;
   width: 100%;
 }
 .faq .questions-list {
   background: #afcace;
   border: 15px solid #debeb1;
 }
 .faq .questions-list ul {
   list-style-type: none;
 }
 .faq .questions-list ul li {
   font-size: 25px;
   line-height: 2.2;
 }
 .faq .questions-list ul li a {
   font-weight:bold;
   color:black;
   text-decoration:underline
 }
 .faq .qa-wrapper {
   background-image: url('../images/backgrounds/background-faq.jpg');
   background-attachment: fixed;
 }
 .faq .qa {
   float:left;
 }
.faq .question {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  line-height: 120px;
  padding: 0px 30px 0px 30px;
  background: #ffffff;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5%;
}

.faq .question:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 13px 32px 13px 0;
   border-color: transparent #ffffff;
   display: block;
   width: 0;
   z-index: 1;
   left: -32px;
   top: 71px;
}
.faq .answer ul{
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  list-style-type: circle;
}
.faq .answer {
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10%;
 position: relative;
 padding: 30px;
 background: #ffffff;
 border-radius: 10px;
 display:inline-block;
}
.faq .answer p, .faq .answer ul li{font-size:25px}
.faq .answer:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 13px 0 13px 32px;
   border-color: transparent #ffffff;
   display: block;
   width: 0;
   z-index: 1;
   right: -32px;
   top: 71px;
}

.featurettes {
  background: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-bottom: -130px !Important;
}
 .icon-wrap-circle {
  border-radius: 100%;
  color: white;
  background: #e99090;
  height: 150px;
  WIDTH: 150PX;
  margin-left: auto;
  margin-right: auto;
}
 .icon-wrap-circle i {
  color:white;
  line-height:150px;
}

.member-app #first-hero-online-app {
  background-image: url('../images/dark/aa-couple.jpg');
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.member-app #first-hero-online-app h1 {
  color:white;
  text-shadow: 2px 2px #e99090;
  margin-top:170px;
  margin-left: 5%;
}

.member-app .app-title, .volunteer-app .app-title {
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  color:black;
}
.member-app .btn-lg, .volunteer-app .btn-lg {margin-top:50px}
form select#state {
    font-size: 25px;
    height: 50px;
}
form .form-area {
  background-color: #FAFAFA;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: 1px solid GREY;
  border: 2px solid #8f8fb66b;
  border-radius: 5px;
}
form .form-group {
  font-size:25px;
  margin-top: 35px;
}
.member-app .steps, .volunteer-app .steps {
  font-size: 20px;
  border-radius: 15px;
}
form .form-group ol li {margin-top:20px}
form .member-tabs {
  margin-top:50px;
}
form input[type=radio] {margin-top:10px}
form input[type=text], form input#email, form input[type=date], form input[type=time], form input[type=number], select {
  font-size:25px;
  height:50px;
  border-radius:5px;
}
form textarea.form-control {font-size:25px}
.member-app .checkbox-inline, .volunteer-app .checkbox-inline {line-height: 1}
#pdfVersion {
  display:none;
  padding: 5%;
  font-size:14px;
};
#pdfVersion label {margin-right: 15px;}
.volunteer-drive {
  font-size:25px;
}

.back-btn-wrap {
  margin: -10% 0 2% 2%;
  width: 50%;
  text-align: left;
}
.back-btn-wrap a {
  color: white;
  margin: 0 !important;
}
.important-docs .back-btn-wrap {
  position: absolute !important;
  margin-top: 5%;
  margin-left: -20%;
}
.important-docs .back-btn-wrap a h3 {
  font-size:20px !important;
}


.portal {
  /* background-image: url('../images/itnportland-pic.JPG') !important; */
  background: black;
  background-attachment: fixed;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding-bottom:10%;
  font-size:25px;
  color:white;
  font-weight:bold;
  line-height: 1.5;
}
.portal .container {
  padding:5% 7%;
}
.portal h2, .important-docs h3 {
  font-size:45px;
  text-align:center;
  color: rgba(252,109,109,1);
  margin-bottom:50px;
  margin-top:50px;
}
.portal h5 {
  color: #fc6f6d;
  font-size: 22px;
  font-weight: bold;
}
.portal h6 {
  font-size:12px;
}
.portal a {
  text-decoration:none;
  margin:3%;
}
.portal img {
  max-height:1500px !important;
  max-width:1500px !important;
}
.portal ul {
  list-style-type: none;
  font-size: 25px;
  color: white;
}
.portal ul li {
  margin-top:10px;
}
.portal .block {
  height: 250px;
  width: 250px;
  background: rgba(68,109,116,0.7);
  border: 7px solid #e99090;
  background: rgba(252,109,109,0.3);
  border: 5px solid rgba(252,109,109,1);
  text-align: center;
  border-radius:100%;
  margin:auto;
  overflow:hidden;
}
.portal .block h3 {
  margin-top: 90px;
  color:white;
  font-size:35px;
}
.portal .block h3:hover {
  color: rgba(252,109,109,1);
  text-decoration:none !important;
}
.portal .block img {
  object-fit: contain;
}
.portal .block .contained-img, .portal .block img {
  max-height:250px;
  max-width:300px;
  margin-top: 75px;
}

.portal .fb {
  border: 2px solid #3a5795;
  background: #3a5795;
}
.portal .fb .fa {
  color:white;
}
.portal .tw {
  border: 2px solid #cf3427;
  background: #cf3427;
}
.portal .tw .fa {
  color:white;
  margin-left: 8% !important;
}
.portal .yt {
  border: 2px solid #0177b4;
  background:#0177b4;
}
.portal .yt .fa {
  color:white;
  margin-left: 8% !important;
}
.portal .in {
  border: 2px solid #78bdf1;
  background:#78bdf1;
}
.portal .in .fa {
    color:white;
    margin-left: 8% !important;
}

.rides .container {
  padding: 3% 0;
}
.portal table .edit-btn {
  background: #fc6f6d;
  border-color: #fc6f6d;
}
.portal table thead tr th, .affiliates table thead tr th {
  text-align:center;
  padding:1%;
}
.portal table tr td {
  font-size:20px;
  font-weight:normal;
}
.portal table tbody tr:hover {
  color: #fc6f6d;
}

#loading-btn {
  display: block;
  margin: auto;
  margin-top: 10px;
  background: #fc716d;
  padding: 7px;
  border-radius: 5px;
  cursor:default;
}
.comments div.comments-for-each {
  clear:both;
}
.comments div.comments-for-each:last-child hr {
  display:none;
}
.editableColumnsStyle {
  color:red;
}
.calendar table:hover, .agenda table:hover {
  cursor:pointer;
}
.agenda {
  overflow:auto;
  height:100vh;
}
.agenda-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.agenda-link:first-of-type {
  margin-top:30px;
}
.agenda .fc-toolbar .fc-left {
  display:none;
}
.agenda table thead tr th {
  display:none;
}
.swal-button--deleteEvent {
  background:#e05944;
}
.back-btn h3 {
  margin-top: -20px;
}
.more-btn {
  height: 20px;
  width: 70%;
  margin-top: -230px;
  font-size: 14px;
  color: black;
}
.employee ul li a {
  text-align:left;
  font-size:20px;
  border-bottom:1px solid #8080803b;
}
.no-border {
  border-bottom:none !Important;
}
.employee .dropdown-menu {
  left: 65%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.employee .employee-profile, .employee .employee-edit {
  width:70%;
  border:3px solid white;
  border-radius:5px;
}
.employee .employee-edit .update-avatar {
  padding: 10px;
  font-size: 18px;
  position: absolute;
  margin-top: -23%;
  margin-left: 22%;
}
.employee .h6 {
  color: #fc6f6d !important;
  font-size: 20px !important;
}
.popular-apps a {
  color:white;
  text-decoration: underline;
}
.popular-apps h6 {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 30px;
  font-weight: bold;
}
.popular-apps .description {
  margin-bottom:20px;
  font-size:20px;
}
.upload-doc {
  padding:3%;
  display:block
}
.upload-docs button {
  float:right;
}
.documents .loading-msg {
  margin-top: 100px;
  margin-bottom: 50px;
}
.all-docs {
  width: 90%;
  margin:auto;
  display:block
  margin-top:25px;
  border-left:1px groove white;
  border-right:1px groove white;
}
.all-docs .title {
  text-align:left;
  margin-left:2%;
  float:left;
}
.btn-itn-sm {
  padding:1px 6px;
  font-size:12px;
  background: #e99090;
  border-color: white;
  color:white;
}
.all-docs .cat-options {
  z-index: 99;
  float: left;
  padding: 10px;
  border: 1px solid #e99090;
  border-radius: 5px;
  position: absolute;
  background: white;
  color: #e99090;
}
.all-docs .file-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  width:200px;
}
.all-docs .cat-options .dropdown {
  color:black;
  float:left;
  margin-left:2%;
}
.all-docs .cat-options .dropdown .btn {
  padding:1px 6px;
  font-size:12px;
}
.loading-img {
  color:red;
  margin-top:100px;
  display:block;
}
.repeat-img {
  display:inline-block;
  overflow:visible;
}
.repeat-img img {
  display:block;
  object-fit:scale-down;
  overflow:hidden;

  max-width: 100%;
  /* width:auto; */
  width:250px;
  height:100px;
  padding:1%;
  border-radius:5px;
  text-align:center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.repeat-img:hover img {
  -moz-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  cursor: pointer;
}

.loading-msg {
  font-style:italic;
  font-size:22px;
  color:red;
  margin: 6%;
}

.swal2-popup.swal2-modal.swal2-show {
  font-size: 20px !important;
  padding: 3%;
}
.btn-red {
  font-size:17px;
  background: #ed7c75;
  border-color: #ed7c75;
}
.server-message {
  color:red;
  font-weight: bold;
  padding 1%;
}

/* Google map */

#map {
  height: 100%;
}
.labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height:20px;
  border: 2px solid black;
  white-space: nowrap;
}
.nda p {
  margin-top:20px;
}
.fc-agenda-view .fc-day-grid {
  display:none;
}
.analytics-warning {
  border: 2px solid;
  padding: 2%;
  margin-bottom: 50px;
  font-size: 20px;
}
#auth-button {
  margin-bottom: 50px;
}
.affiliate-info .label {
  font-weight: bold;
  margin-right: 10px;
  color: beige;
}
.affiliate-info a {
  text-decoration: underline;
  color: white;
}
.affiliate-info .info {
  font-size: 22px;
}
.timesheet .card {
  border:2px solid white;
  padding:2%;
  text-align:center;
}
.timesheet input[type=checkbox] {
  /* margin-top: -20px; */
}
.timesheet .mileage-rates {
  text-align: right;
  font-size: 16px;
  font-style: italic;
  margin-top: -100px;
  margin-bottom: 20px;
}
.timesheet .title {
  text-align: left;
  text-decoration: underline;
  margin-top: 50px;
}
.timesheet .mileage-data {
  text-align:right;
  font-size:16px;
  margin-top: -4%;
}
.timesheet .fa-plus-circle {
  font-size:40px;
  margin-left: 2%
}
.timesheet .fa-pencil {
  font-size: 35px;
  padding-top:15px
}
.timesheet .fa-trash {
  font-size: 35px;
  padding-top: 15px;
}
.timesheet .fa-check {
  font-size:50px;
  margin-bottom: 15px;
}
.timesheet .semi-white-bg {
  margin: 5% 0;
  background:rgba(255,255,255,0.4);
  border-radius:5px;
}
.timesheet input {
  color:black;
}
.timesheet i:hover {
  cursor: pointer;
}
.timesheet .show-note div, .timesheet .show-note .fa-trash {
  display:inline-block;
}
.timesheet ul li {
  width: 10%;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.warning-msg {
  color:red;
  margin-top:50px;
}
.blueHighlight {
  background:#e99090;
}
.disabled {
  color:grey !important;
  font-style: italic;
}
.timesheet select {
  color:black;
}
.timesheet ul li {
  width:6%;
}
.timesheet ul li a {
  padding: 10px 5px !important;
}
#footer {
    width:100%;
    height:250px;
    position:absolute;
    bottom:0;
    left:0;
    /* background: #e99090; */
    background: #e99090;
    font-size:20px;
}
#footer ul li a {color:white}
#footer .container ul {
  list-style-type: none;
}

#footer .container {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  color:white;
  /* background: #e99090; */
  background: #e99090;
}
#footer .container .col-sm-4{
  margin-top:30px;
}

#footer .container hr {
  height: 1px;
  border-color: #e05944;
  background-color: #e05944;
  color: #e05944;
  width: 80px;
  margin-left: 0;
}

#footer .container .footer-title {
  margin-bottom:2%;
}

#footer .container input {
  width: 300px;
  height: 50px;
}

.social-icons i {
  font-size: 25px;
  margin-left:20%;
}

.social-icon-border {
  border-radius: 100%;
  padding: 10px;
  border: 1px solid blue;
  height: 50px;
  width: 50px;
  margin-left:auto;
  margin-right:auto;
  margin:2%;
}

.fb {
  border: 2px solid #3a5795;
}
.fb:hover {
  background: #3a5795;
}
.fb:hover .fa {
  color:white;
}
.fb .fa {
    color: #3a5795;
}

.tw {
  border: 2px solid #cf3427;
}
.tw:hover {
  background: #cf3427;
}
.tw:hover .fa {
  color:white;
}
.tw .fa {
    color: #cf3427;
    margin-left: 8% !important;
}

.yt {
  border: 2px solid #0177b4;
}
.yt:hover {
  background:#0177b4;
}
.yt:hover .fa {
  color:white;
}
.yt .fa {
    color: #0177b4;
    margin-left: 8% !important;
}

.in {
  border: 2px solid #78bdf1;
}
.in:hover {
  background:#78bdf1;
}
.in:hover .fa {
  color:white;
}
.in .fa {
    color: #78bdf1;
    margin-left: 8% !important;
}

#footer .container .btn-search {
  border: none;
  margin-left: -200%;
  margin-top: 10px;
}


/* HELPER CLASSES */

.itn-green {color: #e99090 !important}
.itn-green-bg {background: #e99090 !important}
.itn-orange {color: #fc6d6d !important}
.itn-orange-bg {background: #fc6d6d !important}
.itn-lightgreen {color: #afcace !important}
.itn-lightgreen-bg {background: #afcace !important}
.itn-vlightgreen-bg {background: #c7dfe4 !important}
.itn-vlightgreen {color: #c7dfe4 !important}
.white-bg {background:white}
.inner-white-bg {
  background:white;
  width:90%;
  border-radius:5px;
  padding:2%;
}
.border-road {border: 5px dashed white}
.mt-100 {margin-top:100px !important}
.mt-50 {margin-top:50px !important}
.mt-25 {margin-top:25px !important}
.mb-100 {margin-bottom:100px !important}
.mb-50 {margin-bottom:50px !important}
.mb-25 {margin-bottom:25px !important}
.m-50 {margin:50px !important}
.pt-100 {padding-top:100px !important}
.pt-75 {padding-top:75px !important}
.pt-50 {padding-top:50px !important}
.pt-25 {padding-top:25px !important}
.pb-25 {padding-bottom:25px !important}
.pb-50 {padding-bottom:50px !important}
.pb-75 {padding-bottom:75px !important}
.pb-100 {padding-bottom:100px !important}
.center-70 {
  margin-left:auto;
  margin-right:auto;
  width:70%;
}
.center-80 {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.center-85 {
  margin-left:auto;
  margin-right:auto;
  width:85%;
}
.center-90 {
  margin-left:auto;
  margin-right:auto;
  width:90%;
}
.ta-center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.br-5 {border-radius: 5px;}
.br-15 {border-radius: 15px;}


/* OFFICIAL WIDGETS */

.btn-lg {
  background: #e99090;
  border-color: white;
  padding: 7px 15px;
  font-size: 22px;
  color:white;
  font-weight:bold;
}
.itn-title h2 {
  color: #e99090
}
.itn-title hr, .red-hr {
  border: none;
  height: 5px;
  color: #fc6d6d;
  background-color: #fc6d6d;
  margin-top: -10px;
  margin-bottom: 50px;
}
.red-section {
  background: #fc6d6d;
  color: white;
}
.error {
  color: #e05944;
  font-weight:bold;
  padding: 10px;
}
.highlighted {
  background: yellow;
}
.border-white {
  border: 1px solid white;
}

/* GENERAL */

a {cursor: pointer}
h2,h3 {line-height:1.7}
.jumbotron ul {
  font-size: 25px;
  font-weight: 200;
}
.jumbotron p {font-size:25px}

.form-control::-webkit-input-placeholder { color: black; font-style:italic}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: black; font-style:italic}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: black; font-style:italic}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: black; font-style:italic}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: black; font-style:italic}  /* Microsoft Edge */

.form-group input[type=email], .form-group input#emailConfirmation {
  font-size: 25px;
  height: 50px;
}

.page-template {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.page-template .header {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  border-bottom: 1px solid #888;
  color: #888;
}
.page-template .footer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  border-top: 1px solid #888;
  text-align: center;
  color: #888;
}
.page-template .watermark {
  font-weight: bold;
  font-size: 400%;
  text-align: center;
  margin-top: 30%;
  color: #aaaaaa;
  opacity: 0.1;
  /*transform: rotate(-35deg) scale(1.7, 1.5);*/
}

.carousel-wrap {
  /* height:400px; */
  height:auto;
  margin: 0 auto;
  padding: 40px;
  padding-top:100px;
  width: 80%;
  color: #333;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-wrap2 {
  background-image: url('../images/backgrounds/gift-certificate2.png');
  background-size: 95% 500px;
  height: 500px;
}
.slick-slide {
  width: 60%;
  text-align: center;
  color: #419be0;
  background:transparent;
}
.slick-prev:before, .slick-next:before {
  font-size:50px !important;
  color: red !important;
}



/* NAVBAR */






/* END NAVBAR */

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }


.red-btn {
  margin-left:2%;
  font-size:16px;
  background:#e05944 !important;
}

.timesheets-row {
  width:50%
}
.notice-mobile {
  display:none;
}

.calendar .loading-msg {
  display:none
}
.blog-thumbnail img {
  object-fit: contain;
}
.blog-thumbnail .form-group {
  width: 60%;
  display:flex;
}


 @media (max-width: 750px) {
   .timesheets-row {
     width:100%
   }
   .notice-mobile {
     display:block;
     margin-top: 20px;
     margin-left: 5%;
     font-size: 18px;
   }
}

@media (max-width: 600px) {
  #calendar-week {
    display:none
  }
  .calendar .loading-msg {
    display:block
  }
  .blog-thumbnail .form-group {
    width: 100%
  }
}
