<div class="contact non-rider" ng-init="isContactPerson()">
      
    <div class="jumbotron section first-hero" id="first-hero-contact">
      <h1>Contact Us</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section" style="background: #c7dfe4">
      
      <div class="container">
        <h3 ng-hide="contactPerson">Want to learn more about ITN<em>America</em>, start an ITN affiliate, support us in our work supporting older people and their families? Have questions or comments? Use the form below or call us at (207)857-9001, or mail or visit us at our offices at the Dana Warp Mill, 90 Bridge St, suite 210, Westbrook, Maine, 04092.
        <hr align="center">
        </h3>
        
        <div class="col-sm-12">
            <div class="form-area" style="background: #c7dfe4;border:none"> 
              <form name="itnForm" novalidate ng-submit="submitForm()" role="contact form" ng-model="formData">
                <br style="clear:both">
                <h3 ng-hide="contactPerson" style="margin-bottom: 25px; text-align: center">Contact ITN<em>{{affiliate}}</em></h3>
                <h3 ng-show="contactPerson" style="margin-bottom: 25px; text-align: center">Contact {{contactPerson.firstName || contactPerson}} </h3>
                        
                <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                  <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                  <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                  <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                  <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number (Not Required). Example: 617-344-9876" ng-model="formData.phone">
                  <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                  <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                  <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                  <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                    <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                </div>
                
                <p ng-if="loading"><em>Loading. Please wait</em></p>
                <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
                  
                <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
                <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
              
              </form>
            </div>
            
          </div>
        </div>
      
    </div><!--jumbo-->
    
  </div><!--contact-->


  
  <script>
  $(document).ready(function(){ 
    $('#characterLeft').text('2000 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});

  </script>
