<div class="homepage" ui-view>

<div class="parallax">

  <div class="title-sam wow fadeInUp" data-wow-duration="3s">
    <h2 style="font-size:55px;margin-bottom:0">
      Sam Saint-Lo Guergenenov
    </h2>
    <h2 style="font-family: monospace;">
      ~ Web Application Developer ~
    </h2>
  </div>

</div>



<div class="jumbotron section bg-black intro-sam">

  <div class="section section-title">
    <h3>About me</h3>
  </div>

  <p>I’m a software engineer living in sunny Miami, FL with a background in Computing, Philosophy, Economics and Statistical Research. On my free time I practice archery, watch futurist films, and compose music on guitar and piano.</p>
</div>

<div class="parallax"></div>



<div class="jumbotron section bg-brown job-icons">

  <div class="section-title">
    <h3>What I Do</h3>
  </div>

  <!-- <div class="job-icons-inner"> -->
    <div class="row">
        <div class="col-sm-6 job-icon wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s" id="icon-design">
          <img id="img-design" src="https://samanthics25.files.wordpress.com/2019/03/responsive.png"/>
          <div class="job-icon-legend">Web Design</div>

          <div class="hidden-div" id="hidden-design">
            <p>I create intuitive designs for the desktop, tablet and phone. </br>
              They are tailored to your desired audience.</p>
          </div>
        </div>

        <div class="col-sm-6 job-icon wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s" id="icon-dev">
          <img src="https://samanthics25.files.wordpress.com/2019/03/coding.png"/>
          <div class="job-icon-legend">Web Application Development</div>

          <div class="hidden-div" id="hidden-dev">

            <p>I convert designs into a responsive front-end interface, or any full database-backed applications that you can dream of, using the languages of HTML, CSS and a typical client-facing stack, like MEAN (Mongo-Express-Angular-Node). I make sure the interfaces are accessible and machine-readable for users with disabilities.</p>

            <p>From complex email and PDF generators to document library, employee portal and authentification, your website will transform from simple blog to a real e-commerce application that can generate profit. </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 job-icon wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s" id="icon-seo">
          <img src="https://samanthics25.files.wordpress.com/2019/03/seo-1.png"/>
          <div class="job-icon-legend">Marketing & SEO</div>

          <div class="hidden-div" id="hidden-seo" style="height:auto">
            <p>I can add web analytics to your website so you can track your web visitors and observe trends by number, gender, location, and age. I can set a tailored flag with any given increase or decrease in the percentage of users from a certain region.</p>

            <p>Web analytics can allow you to tailor the content of your website in a way that better suits your user needs and increase your traffic and hence your business.</p>
          </div>
        </div>

        <div class="col-sm-6 job-icon wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s"  id="icon-translation">
          <img src="https://samanthics25.files.wordpress.com/2019/03/man.png"/>
          <div class="job-icon-legend">Content translation in French & Spanish</div>

          <div class="hidden-div" id="hidden-translation">
            <p>I am also a French and Spanish speaker, so, in addition to web analytics and SEO, I can translate your web content in these languages as well as provide consulting service on how to present this translated content in a way that makes most sense to the localized group.</p>
          </div>
        </div>
    </div>
  <!-- </div> -->

</div>



<div class="parallax-dark" style="float:left;height:900px">

  <div class="section-title-short">
    <h3>Testimonials</h3>
  </div>

    <div class="testimonials">
      <p>
        <i class="fa fa-quote-left"></i>I have worked with Samantha Guergenenov on website development as her supervisor. Samantha is a hard worker, very smart, who writes excellent, clean code. She is attentive to internal documentation of her code, and understands well the different layers in the coding stack. She enjoys complex development tasks, and building highly functional websites. I would highly recommend her for advanced web development positions.<i class="fa fa-quote-right"></i>
      </p>
      <p style="text-align:right">-Alan Fried, Technical Manager at ITNAmerica</p>
    </div>

    </div>

</div><!--parralax2-->


<div class="section projects-section">

  <div class="section-title-short section-title-over">
    <h3>Projects</h3>
  </div>

  <div class="row">

    <div class="col-sm-6 bg-brown-img" id="project1" style="padding-top:10%">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>

      <div class="overlay-txt" id="itn">
        <img src="https://samguergen.herokuapp.com/imgs/screenshots/itnamerica.png" class="screenshot"/>
        <div class="description">
          <p><a href="https://www.itnamerica.org">ITN<em>America</em><br>
            Discounted senior transportation network.</a></p>
          <p><em><a href="https://github.com/itnamerica/itnamerica">Languages: AngularJS, JavaScript, jQuery, ExpressJS, NodeJS, MongoDB (MEAN), HTML/CSS</a></em></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 bg-brpurple-img" id="project2"  style="padding-top:10%">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>

      <div class="overlay-txt" id="shift-scheduler">
        <img src="https://samguergen.herokuapp.com/imgs/screenshots/shift-scheduler.png" class="screenshot"/>
        <div class="description">
          <p><a ui-sref="shift-scheduler">Weekly Shift Scheduler<br>
            A week-by-week calendar that records company events.</a></p>
          <p><a href="https://gist.github.com/samguergen/4b053f1aa325402845d2039b5e3c86d5"><em>HTML/CSS, AngularJS, JavaScript, jQuery, ExpressJS, NodeJS, MongoDB (MEAN)</a></em></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-brpurple-img" id="project3">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>

      <div class="overlay-txt" id="doc-library">
        <img src="https://samguergen.herokuapp.com/imgs/screenshots/file-upload4.png" class="screenshot"/>
        <div class="description">
          <p><a ui-sref="documents">File Library Uploader & Downloader<br>
            A documents library, similar to Dropbox, which allows
            the user to upload and categorize any type of file.</a></p>
          <p><a href="https://gist.github.com/samguergen/6ac85d0b4acb3ccd94391f78b13bd6e4"><em>HTML/CSS, AngularJS, JavaScript, jQuery, ExpressJS, NodeJS, MongoDB (MEAN)</em>
        </div>
      </div>
    </div>

    <div class="col-sm-6 bg-brown-img" id="project4">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>

      <div class="overlay-txt" id="timesheet">
        <img src="https://samguergen.herokuapp.com/imgs/screenshots/ts3.png" class="screenshot"/>
        <div class="description">
          <p><a ui-sref="timesheets">Employee Timesheet Tracker<br>
            A set of timesheets that tracks timed employee shifts</a></p>
          <p><a href="https://gist.github.com/samguergen/eeef5695adc8d1dc2f9fa6d72ffce32f"><em>HTML/CSS, AngularJS, JavaScript, jQuery, ExpressJS, NodeJS, MongoDB (MEAN)</em>
        </div>
      </div>
    </div>
  </div>


<div class="bg-black">
  <button class="ta-center btn-lg" style="cursor:default">Click on "Portfolio" in the navbar to more of my personal projects!</button>
</div>

</div><!--projects-section-->

<div class="parallax-dark" style="float:left">

  <div class="section-title-short section-title-over">
    <h3>Contact me</h3>
  </div>

  <div class="contact">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

      <div class="form-area wow slideInUp" data-wow-duration="1s">
        <form name="itnForm" novalidate ng-submit="submitForm()" role="contact form" ng-model="formData">
          <br style="clear:both">

          <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
            <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
            <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
            <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
            <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
            <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
            <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
            <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number (Not Required)." ng-model="formData.phone">
            <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
            <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
            <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
            <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
            <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
            <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
            <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
            <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
          </div>

          <p ng-if="loading"><em>Loading. Please wait</em></p>
          <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>

          <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right bg-lightblue" value="Send" style="margin-left:2%">
          <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right bg-lightblue"  style="margin-left:2%">

        </form>
      </div>

    </div>
  </div><!--row-->

  </div><!--contact-->

</div>




</div><!--home-->


<script type="text/javascript">


  $(document).ready(function() {
    new WOW().init();
  //
  //   console.log('inside jquery');
    // $("#img-design").mouseenter(function (){
    //   console.log('mouseover');
    //   $(this).css('cursor', 'pointer');
    //   $("#hidden-design").css('display','block');
    // });
    // $("div.icon-design.hover").mouseout(function (){
    //   console.log('mouseout');
    //   $(this).css('cursor', 'default');
    //   $("div.hidden-design").css('display','none');
    // });

  //
  //
  //   $('.carousel').carousel({
  //     interval: 3500
  //   })
  //
  //


  });
</script>
