<div class="homepage" ui-view>

<div class="parallax">
  
  <div class="title-sam">
    <h2 style="font-size:55px;margin-bottom:0">
      Sam Saint-Lo Guergenenov
    </h2>
    <h2 style="font-family: monospace;">
      ~ Web Application Developer ~
    </h2>
  </div>
  
</div>


<div class="section section-title">
  <h3>About me</h3>
</div>

<div class="jumbotron section bg-black">
  
  <p>I’m a web developer living in Portland, ME, originally from France and with a background in Philosophy, Economics, Statistical Research, and Information Technology. On my free time I practice archery, watch futurist films, and compose music on guitar and piano.</p>
</div>

<!-- <div class="blue-separator"></div> -->


<div class="parallax"></div>


<div class="section section section-title">
  <h3>What I Do</h3>
</div>

<div class="jumbotron section bg-brown job-icons">
  
  <div class="row">
      <div class="col-sm-6 job-icon">
        <img src="https://samanthics25.files.wordpress.com/2019/03/responsive.png"/>
        <div class="job-icon-legend">Web Design</div>
      </div>
      
      <div class="col-sm-6 job-icon">
        <img src="https://samanthics25.files.wordpress.com/2019/03/coding.png"/>
        <div class="job-icon-legend">Web Application Development</div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-6 job-icon">
        <img src="https://samanthics25.files.wordpress.com/2019/03/seo-1.png"/>
        <div class="job-icon-legend">Marketing & SEO</div>
      </div>
      
      <div class="col-sm-6 job-icon">
        <img src="https://samanthics25.files.wordpress.com/2019/03/man.png"/>
        <div class="job-icon-legend">Translation in French & Spanish</div>
      </div>
  </div>
  
</div>




<div class="section section-title">
  <h3>Testimonials</h3>
</div>

<div class="parallax-dark">
  
    <div class="testimonials">
      <p>
        "I have worked with Samantha Guergenenov on website development as her supervisor. Samantha is a hard worker, very smart, who writes excellent, clean code. She is attentive to internal documentation of her code, and understands well the different layers in the coding stack. She enjoys complex development tasks, and building highly functional websites. I would highly recommend her for advanced web development positions."
      </p>
      <p>-Alan Fried, Technical Manager at ITNAmerica</p>
    </div>

    </div>

</div><!--parralax2-->


<div class="section projects-section">
  <div class="row">
    <div class="col-sm-6 bg-brown-img">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>
    </div>
    <div class="col-sm-6 bg-brpurple-img">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 bg-brpurple-img">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>
    </div>
    <div class="col-sm-6 bg-brown-img">
      <img src="https://samanthics25.files.wordpress.com/2019/03/web-development-icon2.png"/>
    </div>
  </div>

  
</div><!--projects-section-->

<div class="parallax-dark"></div>




</div><!--home-->


<script type="text/javascript">
  new WOW().init();

  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 3500
    })

    // setTimeout(function(){
    //     $('#myModal').modal('show');
    // }, 20000);

    var firstTime = true;
    $(window).scroll(function() {
       var hT = $('#progress').offset().top,
           hH = $('#progress').outerHeight(),
           wH = $(window).height(),
           wS = $(this).scrollTop();
       if (wS > (hT+hH-wH)){
         if (firstTime){
           $('.numbers').each(function () {
               $(this).prop('Counter',0).animate({
                   Counter: $(this).text()
               }, {
                   duration: 4000,
                   easing: 'swing',
                   step: function (now) {
                       $(this).text(Math.ceil(now));
                   }
               });
           });
           firstTime = false;
         }
       }
    });



  });
</script>
