<div class="homepage" ui-view>


<div class="jumbotron section infographic ta-center">
  <div class="container">
    <h1 style="color:#529ba8;margin-bottom:50px;font-size:50px">
      Samantha's Widgets App
    </h1>
  </div>
</div><!--JUMBO FEATURES-->




<div class="jumbotron section itn-blogs" ng-init="fetchRecentBlogURLs()">
  <div class="container section-content">
    <div class="row">
      <div class="col-md-4 mt-25" ng-repeat="entry in blogEntries">
        <div class="blog-thumbnail">
          <a ng-href="{{entry.blogURL}}">
            <img ng-src="{{entry.imgURL}}" alt="recent blog post thumbnail image"/>
            <h4 style="text-align:center;color:black">{{entry.title}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



</div><!--home-->

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="font-size:25px">
      <div class="modal-header" style="background:#529ba8;color:white">
        <h3 class="modal-title ta-center" id="exampleModalLabel">Sign me up for ITN<em>America</em>'s monthly newsletter!</h3>
        <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate name="itnForm" ng-model="formData" ng-submit="submitForm('newsletter')" role="newsletter form">

          <div class="form-group ta-center" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
            <label for="newsletter signup" style="margin-bottom:15px">Your email address: </label><br>
            <input type="text" class="form-control center-block" id="email" name="email" placeholder="Example: test@example.com" ng-model="formData.email" ng-pattern="emailPattern" style="width:70%">
            <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
          </div>

          <p ng-if="loading"><em>Loading. Please wait</em></p>
          <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>

          <button type="submit" class="btn btn-lg center-block">Sign me up</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->

<script type="text/javascript">
  new WOW().init();

  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 3500
    })

    // setTimeout(function(){
    //     $('#myModal').modal('show');
    // }, 20000);

    var firstTime = true;
    $(window).scroll(function() {
       var hT = $('#progress').offset().top,
           hH = $('#progress').outerHeight(),
           wH = $(window).height(),
           wS = $(this).scrollTop();
       if (wS > (hT+hH-wH)){
         if (firstTime){
           $('.numbers').each(function () {
               $(this).prop('Counter',0).animate({
                   Counter: $(this).text()
               }, {
                   duration: 4000,
                   easing: 'swing',
                   step: function (now) {
                       $(this).text(Math.ceil(now));
                   }
               });
           });
           firstTime = false;
         }
       }
    });



  });
</script>
