<div class="portal human-resources hr-landing" ng-show="showPortal">
  <div class="container">
    
    <h2>Human Resources</h2>
    
    <div class="row mt-50 mb-25">
      <div class="col-md-4">
        <a ui-sref="">
          <div class="block" style="background:#fac95c">
            <img ng-src="{{assetsPath}}/images/timesheet-icon.svg" alt="logo of a stimesheet" style="object-fit:contain;width:150px;margin-top:25px;margin-left:6%"/>
          <h5 style="margin-top:-12px">Time Sheets</h5>
          </div>
        </a>
      </div>
      
      <div class="col-md-4">
        <a ui-sref="employee-profiles">
          <div class="block" style="background:#3692cd">
            <img ng-src="{{assetsPath}}/images/hr-logo-white.png" alt="logo of avatars" style="object-fit:contain;width:200px;margin:0"/>
            <h5 style="margin-top:-40px;color:white">Employee Profile Pages</h5>
          </div>
        </a>
      </div><!--col-md-4--> 
      
      <div class="col-md-4">
        <a ui-sref="hr-tickets">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/hr-ticket2.png" alt="logo of a support ticket" style="object-fit:contain;width:200px;margin:0"/>
            <h5 style="margin-top:-10px">HR Tickets</h5>
          </div>
        </a>
      </div><!--col-md-4-->
      
    </div><!--row-->

  </div>
</div>



<div class="back-btn-wrap">
  <a ng-click="openAdditionalPage()" ng-hide="showPortal" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content" style="font-size:25px">
    <div class="modal-header" style="background:#529ba8;color:white">
      <h3 class="modal-title" id="exampleModalLabel">Delete form submission</h3>
      <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group ta-center">
          <label for="delete app confirmation" style="margin-bottom:15px">Are you sure you would like to delete this form?</label>
        </div> 
    </div>
    <div class="modal-footer">
      <button type="button" ng-click="deleteComment();hideModal('deleteAppModal')" class="btn btn-lg btn-danger" style="background:#e05944">Delete</button>
      <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal" aria-label="Cancel">Cancel</button>
    </div>
  </div>
</div>
</div><!--end modal-->
  
