<div class="portal itnamerica" ng-show="showPortal">
  <div class="container">

    <h2>ITN<em>America</em></h2>

    <div class="row mt-50 mb-25">
      <div class="col-md-6">
        <a href="http://www.itnamerica.org" target="_blank">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/itnamerica-logo.png" alt="itnamerica logo" style="margin-top:100px"/>
          </div>
        </a>
      </div><!--col-md-6-->
      <div class="col-md-6">
        <a href="http://blog.itnamerica.org/" target="_blank">
          <div class="block" style="background:black">
            <img ng-src="{{assetsPath}}/images/itnamerica-blog-screenshot.png" alt="screenshot of itnamerica blog" style="margin-top:60px;margin-left:-40px;object-fit:contain;height:120px;"/>
          </div>
        </a>
      </div><!--col-md-6-->
    </div><!--row-->

    <div class="row mt-50 mb-50">

      <div class="col-md-6">
        <a ng-click="openAdditionalPage('social')">
          <div class="block social-icons" style="background:#fd8567">
            <img ng-src="{{assetsPath}}/images/social-media-icon.svg" alt="icon of social media" style="object-fit:contain;width:190px;margin-left:0;margin-top:-5%"/>
            <h5 style="margin-top:-27px;color:white">Social Media Presence</h5>
          </div>
        </a>
      </div><!--col-md-6-->

      <div class="col-md-6">
        <a ng-click="openAdditionalPage('events')">
          <div class="block" style="background:#90dea7">
            <img ng-src="{{assetsPath}}/images/speakers2-icon.svg" alt="icon of a speaker" style="object-fit:contain;width:200px;margin-left:0;margin-top:-7%"/>
            <h5 style="margin-top:-40px;color:white">Comments & Announcements</h5>
          </div>
        </a>
      </div><!--col-md-6-->

    </div>


  </div>
</div>


<div ng-show="social" class="portal social">
  <div class="container">
    <h2>Social Media Presence</h2>

    <div class="row mt-50 mb-25 ta-center">
      <div class="col-sm-3">
        <a href="https://www.facebook.com/ITNAmerica/" target="_blank"><div class="col-sm-3 social-icon-border fb">
          <i class="fa fa-facebook"></i>
        </div></a>
      </div>
       <div class="col-sm-3">
        <a href="http://www.twitter.com/itnamerica" target="_blank"><div class="col-sm-3 social-icon-border tw">
          <i class="fa fa-twitter"></i>
        </div></a>
      </div>
      <div class="col-sm-3">
        <a href="http://www.youtube.com/itnamerica" target="_blank"><div class="col-sm-3 social-icon-border yt">
          <i class="fa fa-youtube"></i>
        </div></a>
      </div>
      <div class="col-sm-3">
        <a href="http://www.instagram.com/itnamerica" target="_blank"><div class="col-sm-3 social-icon-border in">
          <i class="fa fa-instagram"></i>
        </div></a>
      </div>
    </div>
  </div>
</div>

<div ng-show="events" class="portal events ta-center" ng-init="getCommentsPhoto()">
  <div class="container">
    <h2>Events & Announcements</h2>
    <ul>
      <li>
        <a href="http://itnretreat.org/" target="_blank"><strong>October 17-19 2018 - ITN Retreat 2018: Non-Profit Leadership</strong></a><br>
        ITN<em>America</em> HQ, Westbrook, ME
      </li>
    </ul>


    <div class="row mt-50 mb-50">

      <div class="col-md-12">
        <h5 class="mb-25" style="display:inline-block">Comments</h5>

        <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>

        <div class="row" ng-show="showCommentInput">

              <div class="form-area mb-50" style="background: #c7dfe4;border:none;padding:1%;border-radius:5px">
                <form name="itnForm" novalidate ng-submit="addComment(formData, listOfProgramsObj.itnAmerica); showCommentInput = false" role="comment form" ng-model="formData" style="padding:2%;margin:0 5%">
                  <h3 style="margin-bottom: 25px; text-align: center">Add a new comment</h3>

                  <div class="row">
                    <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.author" required>
                      <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                      <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                      <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                    </div>

                    <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                      <input type="text" class="form-control" id="email" name="email" placeholder="Your Email" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.email" ng-pattern="emailPattern" required>
                      <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                      <span ng-if="itnForm.email.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                      <span ng-if="itnForm.email.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                      <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                    <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.message" required></textarea>
                    <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                    <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                    <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                      <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                  </div>

                  <p ng-if="loading"><em>Loading. Please wait</em></p>
                  <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>

                  <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%;margin-top:-50px">
                  <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%;margin-top:-50px">

                </form>
              </div><!--form-area-->

        </div><!--row-->



        <table class="table table-responsive table-hover" ng-repeat="commentPhoto in commentsPhoto | filter: {name: 'America' }" id="comments-table" style="font-size:25px;font-weight:bold;width:90%;margin:auto">
          <button class="btn btn-sm" ng-click="showCommentInput = true" style="background:#cc6257;float:right;margin-top:10px">Add a Comment</button>
          <thead>
            <tr>
              <th ng-click="sort('message')">Comments
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('author')">Author
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody style="font-size:20px">
            <tr dir-paginate="comment in commentPhoto.comments|orderBy:sortKey:reverse|itemsPerPage:10|reverse" pagination-id="comments">
              <td>{{comment.message}}</td>
              <td>{{comment.author}} <br>
                  <small><em>{{comment.email}}</em></small>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="askBeforeDeleteComment(listOfProgramsObj.itnAmerica, comment)" data-toggle="tooltip" title="Delete Comment">
                 <span class="glyphicon glyphicon-trash"></span>
               </button>
              </td>
            </tr>
          </tbody>
        </table>

        <dir-pagination-controls
          pagination-id="comments"
           max-size="5"
           direction-links="true"
           boundary-links="true" >
        </dir-pagination-controls>

      </div><!--col-md-12-->


    </div><!--row-->

  </div>
</div>


<div class="back-btn-wrap">
  <a ng-click="openAdditionalPage()" ng-hide="showPortal" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content" style="font-size:25px">
    <div class="modal-header" style="background:#529ba8;color:white">
      <h3 class="modal-title" id="exampleModalLabel">Delete form submission</h3>
      <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group ta-center">
          <label for="delete app confirmation" style="margin-bottom:15px">Are you sure you would like to delete this form?</label>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" ng-click="deleteComment();hideModal('deleteAppModal')" class="btn btn-lg btn-danger" style="background:#e05944">Delete</button>
      <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal" aria-label="Cancel">Cancel</button>
    </div>
  </div>
</div>
</div><!--end modal-->


<script>
$(document).ready(function(){
  $('#characterLeft').text('2000 characters left');
  $('#message').keydown(function () {
      var max = 2000;
      var len = $(this).val().length;
      if (len >= max) {
          $('#characterLeft').text('You have reached the limit');
          $('#characterLeft').addClass('text-danger');
          $('#submit').addClass('disabled');
      }
      else {
          var ch = max - len;
          $('#characterLeft').text(ch + ' characters left');
          $('#submit').removeClass('disabled');
          $('#characterLeft').removeClass('red');
      }
  });
});

</script>
