<div class="container login">
  <h1>Admin Dashboard Login</h1>
  
  <div class="form-area">
    <form novalidate name="itnForm" ng-model="formData" ng-submit="login('admins','Master','ng-click','dashboard')" role="login form" style="border: 5px solid #529ba8;margin:5%;padding:3%;background:#afcace">
      
      <div class="form-group ta-center" ng-class="{ 'has-error' : itnForm.username.$invalid && !itnForm.username.$pristine }">
        <label for="username" style="margin-bottom:15px">Username:</label><br>
        <input type="text" autofocus="autofocus" class="form-control center-block" id="username" name="username" ng-model="formData.username" style="width:70%" required>
        <span ng-if="itnForm.username.$error.required && !itnForm.username.$pristine" class="help-block">{{errorMessages.required}}</span>
      </div> 
      
      <div class="form-group ta-center" ng-class="{ 'has-error' : itnForm.password.$invalid && !itnForm.password.$pristine }">
        <label for="newsletter signup" style="margin-bottom:15px">Password: </label><br>
        <input type="password" class="form-control center-block" id="password" name="password" ng-model="formData.password" style="width:70%;height:50px" required>
        <span ng-if="itnForm.password.$error.required && !itnForm.password.$pristine" class="help-block">{{errorMessages.required}}</span>
      </div> 
      
      <p style="color:red;font-size:25px;text-align:center"><strong>{{serverMessage}}</strong></p>

      <button type="submit" class="btn btn-lg center-block">Login</button>
    </form>
  </div>
  

</div>