
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
        <div class="pressroom col-sm-6 row">
          <a href="http://pressroom.itnamerica.org/category/itnlanier/">
          <div class="col-sm-6 pressroom-image">
            <div class="pressroom-title"><h3>Pressroom</h3></div>
            <img ng-src="{{assetsPath}}/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li class="wow fadeInUp"><a href="http://pressroom.itnamerica.org/category/itnlanier/">Pressroom Blog</a></li>
              <li class="wow fadeInUp" data-wow-delay=".1s" style="border:3px solid;padding:5%;border-radius:5px;">
                <a href="https://www.gainesvilletimes.com/news/chapman-named-itnlanier-executive-director/">Gainesville Times:<br> Chapman named ITN<em>Lanier</em> Executive Director</a>
              </li>
            </ul>
          </div><!--pressroom-image-->
          </a>
        </div><!--pressroom-->
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <div class="newsletter-title"><h3>Newsletters</h3></div>
          <img ng-src="{{assetsPath}}/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow fadeInUp"><a ui-sref="newsletters({anchor: 'march17'})">Newsletter March 2017</a></li>
            <li class="wow fadeInUp" data-wow-delay=".1s"><a ui-sref="newsletters({anchor: 'newsletter-dec16'})">Newsletter December 2016</a></li>
            <li class="wow fadeInUp" data-wow-delay=".2s"><a ui-sref="newsletters({anchor: 'july16'})">Newsletter July 2016</a></li>
            <li class="wow fadeInUp" data-wow-delay=".3s"><a ui-sref="newsletters({anchor: 'newsletter-nov15'})">Newsletter November 2015</a></li>
          </ul>
        </div><!--newsletter-content-->
        
      </div><!--newsletter-->
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="font-size:25px">
            <div class="modal-header" style="background:#529ba8;color:white">
              <h3 class="modal-title" id="exampleModalLabel">Subscribe to our newsletter</h3>
              <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form novalidate name="itnForm" ng-model="formData" ng-submit="submitForm('newsletter')" role="newsletter form">
                
                <div class="form-group ta-center" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                  <label for="newsletter signup" style="margin-bottom:15px">Your email address: </label><br>
                  <input type="text" class="form-control center-block" id="email" name="email" placeholder="Example: test@example.com" ng-model="formData.email" ng-pattern="emailPattern" style="width:70%">
                  <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
                </div> 
                
                <p ng-if="loading"><em>Loading. Please wait</em></p>
                <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>

                <button type="submit" class="btn btn-lg center-block" ng-disabled="loading">Sign me up</button>
              </form>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div><!--end modal-->
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  
  $(document).ready(function(){
    new WOW().init();
    $('#myModal').modal('show');
  })
  
  </script>