<div class="timesheet portal" ng-init="parseDayAndAffiliateParams();getTimesheets();parseParamsIfTimesheet()">
    <div class="container-fluid recorded-timesheets">
      <h2>Timesheets</h2>

        <a ui-sref="timesheet({viewNewTimesheet: true})"
           class="btn btn-lg"
           style="margin-left:1%">
           Create New Timesheet
         </a>


          <div class="row timesheets-row" 
               ng-repeat="timesheet in timesheets | orderBy:true " 
               style="box-shadow: 0 24px 2px -24px white;margin-bottom: 15px;">
            <div class="col-xs-1">
              <img src="{{assetsPath}}/images/icons/timesheet.png" style="height:30px;margin-top:20px"/>
            </div>
            <div class="col-xs-7">
              <a ui-sref="timesheet({day: timesheet.day, timesheet: timesheet})"
                 style="display:block;">
                 Day {{timesheet.day}} | {{timesheet.date | date}}
              </a>
            </div>
            <div class="col-xs-4" style="padding:2%">
             <button type="button" 
                     ng-click="deleteTimesheetFromIndex(timesheet)" 
                     class="btn btn-lg btn-primary pull-left red-btn">
                     Delete Timesheet
             </button>
           </div>
        </div>

    </div><!--container-->
</div><!--timesheet-->





    <!-- <ul class="nav nav-tabs">
      <li ng-repeat="timesheet in timesheets"><a ui-sref="timesheet({filter: tsData.affiliate + '?day=' + timesheet.day})">Day {{timesheet.day}}</a></li>
    </ul> -->
