<div class="container" ng-init="catchFormObj()" style="padding: 5% 3%;">
  
  <a ui-sref="dashboard" class="btn btn-lg">Return to Dashboard</a>
  
  <h1 class="mb-50">{{formObjType | tableToFormName}} Submission Form</h1>

  <table class="table table-striped table-responsive" id="form-table" style="font-size:25px;font-weight:bold">
    <tr ng-repeat="(key, value) in formObj">
      <td ng-if="removeIfEmpty(value)"> {{key}}</td> 
      <td ng-if="removeIfEmpty(value)" ng-hide="value === true"> <span ng-bind-html="value | filterLongObj | newlines"></span> </td>
      <td ng-if="value === true">{{value}}</td>
    </tr>
  </table>

  
</div>

<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
  });
</script>